#app {
  height: 100%;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  /* width: 240px;
  height: 320px; */
  
  
  width: 200px;
  height: 280px;
  
  
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

@media screen and (min-width: 640px) {
  .swiper{
    width: 240px;
    height: 320px;
  }
}

/* @media screen and (min-width: 940px) {
  .swiper{
    width: 280px;
    height: 360px;
  }
} */